<% include particals/header %>

<div class="ui text container context">
	<div class="ui huge header">Welcome to my blog</div>
	<div class="ui top attached segment">
		<div class="ui divided items">
			<% posts.forEach(function(post) {  %>
			<div class="item">
				<div class="image">
					<img src="<%= post.image %>" alt="">
				</div>
				<div class="content">
					<a href="/post/<%= post._id %>" class="header"><%= post.title %></a>
					<div class="meta">
						<span><%= post.createdAt.toDateString() %></span>
						<span> by <a class="author"><%= post.author.username %></a></span>
					</div>
					<div class="description">
						<p><%= post.content.substring(0,100) %></p>
					</div>
					<div class="extra">
						<a href="/post/<%= post._id %>" class="ui basic mini violet button">Read more</a>
					</div>
				</div>
			</div>
			<% }) %>
		</div>
	</div>
</div>

<% include particals/footer %>